*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.Body1{
    border: 0px solid black;
    position: absolute;
    width: 100%;
    height: 100vh;
   background: url("Images/1868.jpg") no-repeat fixed;
    background-size: cover;
 
}
header{
    border: 1px solid black;
    position: absolute;
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100px;

}
.nav_0{
    border: 1px solid black;
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_0 p{
    font-size: 5em;
    margin-left: 40px;
    color: wheat;
}
nav{
    border: 1px solid black;
    width: 1000px;
    height: 100px;
    display: flex;

}
nav ul{
    border: 1px solid black;
    display: flex;
    margin-left: 300px;
    width: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: space-between;
    align-items: center;

}

#tr{
    background-color:  rgb(227, 116, 6,);
}

nav ul li{
   
    width: 50px;
    height: 30px;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
nav ul li a:hover{
    color: rgb(227, 116, 6);
    border-bottom: 3px solid white;
    transition: 0.5s ease;
}
.bod{
    border: 1px solid black;
    position: absolute;
    width: 100%;
    height: 80vh;
    margin-top: 18vh;
}
.pub{
    border: 1px solid black;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
}
.pub p {
    animation: publicité 20s linear infinite;
    font-size: 20px;
}

@keyframes publicité{
    from{
        transform: translateX(80%);
    }
    to{
        transform: translateX(-100%);
    }
}

 .bod_1{
    border: 1px solid rgb(176, 28, 28);
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

 }
 .bod_1 p {
    font-size: 40px;
    font-weight: bold;
    color: white;
 }

 .table1{
    border: 0px solid black;
    width: 90%;
    display: flex;
    margin-left: 60px;
    height: 300px;
    align-items: center;
    justify-content: space-between;
    position: relative;
 }
 .t1{
    border: 0px solid black;
    position: relative;
    border-radius: 15px;
    width: 280px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .img{
    width: 280px;
    height: 270px;
    border-radius: 15px;
    transition: 1s;
 }
 .img:hover{
    transform: translateX(5px) translateY(5px);
 }
 
.table{
    border: 1px solid black;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

 .table2{
    width: 300px;
    
    border: px solid black;
    height: 50px;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(175, 164, 142);
    top: 50px;
 }
 .table2 p{
    font-size: 30px;
    font-weight: bold;
 }

 .table2:hover{
   
 }